@model WebApplication1.Models.Discriminant
@{
    Layout = "/Views/Shared/layoutt.cshtml";

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>print</title>
</head>
<body style="background-image: url('https://static8.depositphotos.com/1006106/892/v/950/depositphotos_8920488-stock-illustration-apple-with-equations.jpg'); ">
    <div>
        <p>pasuxi</p>
        @Model.answer
        @ViewBag.warning;
    </div>
</body>
</html>
